name: SCA - Snyk Vulnerability Scan

on:
  push:
    branches:
      - main
      - 'feature/*'
  pull_request:
    branches:
      - main

jobs:
  snyk-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Snyk
        uses: snyk/actions/setup@v1
        with:
          snyk-token: ${{ secrets.SNYK_TOKEN }}  # Make sure to set your Snyk API Token in GitHub Secrets

      - name: Run Snyk Vulnerability Scan
        run: snyk test --all-projects  # This will scan all the projects in your repository

      - name: Snyk Monitor (for PRs & Pushes)
        run: snyk monitor --all-projects  # This sends your project to Snyk's monitoring system